{% extends 'base.html' %}
{% block title %}RoadMapAlura{% endblock %}

{% block content %}


<div id="roadmap">
    <a href="/" class="go-back" title="Voltar">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
    </a>
    
    <div class="container d-flex flex-column align-items-center vh-100 my-2">
        <h2>Seu RoadMapAlura 🎓</h2>
        <div class="grad-divider"></div>
        
        <div class="text-dark ai_roadmap" id="roadmap_steps">
            <div class="roadmap_title d-flex justify-content-start align-items-center mt-5">

                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bar-chart-steps" viewBox="0 0 16 16">
                    <path d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0M2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5z"/>
                </svg>                
                <h2 class="px-3 fs-1 m-0">Passo a Passo</h2>
            </div>

            <div class="text-dark my-2" id="roadmap_steps_section"></div>
        </div>

        <div class="text-dark my-2 ai_roadmap" id="roadmap_exercises">

            <div class="roadmap_title d-flex justify-content-start align-items-center mt-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917zM8 8.46 1.758 5.965 8 3.052l6.242 2.913z"/>
                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46z"/>
                  </svg>
                <h2 class="px-3 fs-1 m-0">Exercícios</h2>
            </div>

                <div class="text-dark my-2" id="roadmap_exercises_section"></div>
        </div>
        <div class="text-dark my-2 ai_roadmap" id="roadmap_assets">

            <div class="roadmap_title d-flex justify-content-start align-items-center mt-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                    <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0"/>
                  </svg>
                <h2 class="px-3 fs-1 m-0">Recursos Extras</h2>
            </div>

                <div class="text-dark my-2" id="roadmap_assets_section"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
x
<script>
    document.getElementById('roadmap_steps_section').innerHTML = marked.parse(`{{ data.steps | safe }}`);
    document.getElementById('roadmap_exercises_section').innerHTML = marked.parse(`{{ data.exercises | safe }}`);
    document.getElementById('roadmap_assets_section').innerHTML = marked.parse(`{{ data.assets | safe }}`);
// </script>
{% endblock%}