{% extends 'base.html' %}
{% block title %}RoadMapAlura{% endblock %}

{% block content %}


<a href="/" class="go-back" title="Voltar">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
</a>

<div class="container d-flex flex-column align-items-center vh-100 my-5">
        <h2>Escolha a melhor categoria para você 🎓</h2>

        <div class="cards mt-3">
            {% for link, desc in category_info.items() %}
                <a href="/category{{ link }}" class="card mb-3" onclick="showLoading()">

                    <p class="card-title">{{ desc["title"] }}</p>
                    <span class="card-description">
                        {{ desc["subtitle"] }}
                    </span>
                </a>
            {% endfor %}
        </div>

        <!-- Indicador de carregamento -->
        <div id="loading" class="text-center text-color-dark mt-2" style="display: none;">
            <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
            <span class="sr-only">Encontrando o melhor RoadMapAlura para você...</span>
        </div>
</div>
    
{% endblock %}